.button {
  --btn-bg-color: var(--color-primary);
  --btn-border-color: var(--color-primary-dark);
  --btn-text-color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-em-base);

  padding: var(--btn-padding, var(--spacer-em-m) var(--spacer-em-base));
  border-radius: var(--spacer-em-s);

  background-color: var(--btn-bg-color);
  border: 0.0625rem solid var(--btn-border-color);
  color: var(--btn-text-color);

  line-height: 1.25;
  vertical-align: middle;

  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: var(--btn-size, inherit);
  cursor: pointer;
  transition: all var(--transition);

  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-primary-dark);
  }

  &:where(.button_full_width) {
    width: 100%;
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-primary);
      --btn-text-color: var(--color-white);
    }
  }

  &:is([disabled]) {
    opacity: 0.5;
    cursor: progress;
  }
}

.button_secondary {
  --btn-bg-color: var(--color-secondary);
  --btn-border-color: var(--color-secondary-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-secondary-dark);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-secondary);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_accent {
  --btn-bg-color: var(--color-accent);
  --btn-border-color: var(--color-accent-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-accent-dark);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-accent);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_success {
  --btn-bg-color: var(--color-success);
  --btn-border-color: var(--color-success-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-success-dark);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-success);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_warning {
  --btn-bg-color: var(--color-warning);
  --btn-border-color: var(--color-warning-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-warning-dark);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-warning);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_danger {
  --btn-bg-color: var(--color-danger);
  --btn-border-color: var(--color-danger-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-danger-dark);
    --btn-text-color: var(--color-white);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-danger);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_grey {
  --btn-bg-color: var(--color-grey);
  --btn-border-color: var(--color-grey-dark);
  --btn-text-color: var(--color-black);
  &:where(:hover, :focus-visible) {
    --btn-bg-color: var(--color-grey-dark);
    --btn-text-color: var(--color-white);
  }

  &:is(.button_outline) {
    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-grey);
      --btn-text-color: var(--color-black);
    }
  }
}

.button_outline {
  --btn-bg-color: transparent;
  --btn-text-color: var(--color-black);
}
