.sport_wrap {
  display: grid;
  gap: var(--spacer-ml);
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
}

.sport_option {
  /* flex-grow: 1;
  flex-shrink: 0; */
  padding: var(--spacer-base) var(--spacer-ml);
  border: 0.0625rem solid var(--color-grey);
  cursor: pointer;
  border-radius: var(--spacer-m);
  transition: all var(--transition);
  text-align: center;

  &:has(input:checked) {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-primary-lightest);
  }

  &:has(input:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:has(input:focus-visible) {
    outline: 0.125rem solid var(--color-primary);
    outline-offset: 0.125rem;
  }

  & input {
    appearance: none;
    position: absolute;

    &:focus {
      outline: 0;
    }
  }
}

.sport_icon {
  flex-direction: column;
}
