.icon {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding-inline: var(--spacer-em-base);
  padding-block: var(--spacer-em-ml);
  gap: var(--spacer-em-base);
  &:where(a:hover, a:focus-visible) {
    color: var(--color-primary-dark);
  }
}

/* .icon i {
  padding: var(--spacer-em-base);
} */
