.season_info {
  display: flex;
  align-items: center;
  gap: var(--spacer-s);
  /* margin-block-start: var(--spacer-m); */
  flex-wrap: wrap;

  @container (min-width: 60rem) {
    justify-content: flex-end;
  }
}

.season_modal {
  text-align: center;

  & h2 {
    font-size: var(--type-scale-h5);
  }

  & ol {
    padding: 0;
    list-style: none;
    margin-block-end: var(--spacer-m);
    & a {
      font-size: var(--type-scale-h4);
    }
  }

  & a {
    /* color: var(--color-foreground); */
    display: inline-block;
    text-decoration: none;
    &:where(:hover, :focus-visible) {
      /* color: var(--color-primary); */
      scale: 1.05;
    }
  }

  & p {
    margin-block-end: var(--spacer-m);
  }
}
