.grid {
  display: grid;
  min-height: 70dvh;
  grid-template-rows: auto 1fr;

  @container (width >= 45rem) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: unset;
  }

  @container (width >= 65rem) {
    grid-template-columns: 1fr 4fr;
  }
}

.menu {
  background-color: var(--color-grey);

  /* padding-block-start: var(--spacer-l); */
  display: flex;

  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;

    & .delete_item {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
    }
  }

  & a {
    display: flex;

    &:where(:hover, :focus-visible) {
      background-color: var(--color-primary-lightest);
    }
  }

  & [aria-current="true"] {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .settings_delete {
    justify-content: flex-start;
    border-radius: 0;
    border: 0;
  }
}

.work_area {
  container-type: inline-size;
  padding: var(--spacer-l);
  position: relative;
  box-shadow: -0.25rem 0 0.5rem
    hsla(from var(--color-grey-darker) h s calc(l - 40) / 0.15);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacer-base);
}
