.user_roster {
  display: grid;
  gap: var(--spacer-base);
  position: relative;
  background: linear-gradient(
    225deg,
    hsla(from var(--color-team, var(--color-primary)) h s l / 0.25),
    transparent 20%
  );
}

.user_roster_heading_link {
  color: var(--color-black);
  text-decoration: none;

  &::before {
    content: " ";
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &:where(:hover, :focus-visible) {
    color: var(--color-primary-dark);
  }
}

.user_roster_div_link {
  color: var(--color-black);
  text-decoration: none;
  font-size: var(--type-scale-s);
  position: relative;
  z-index: 1;

  &:where(:hover, :focus-visible) {
    color: var(--color-primary);
  }
}

.user_roster_sub_heading {
  font-size: var(--type-scale-h5);
}

.user_roster_placed {
  display: inline-flex;
  align-items: center;
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--spacer-s);
  border: 0.0625rem solid;
}

.user_roster_first {
  background-color: var(--color-warning-light);
  border-color: var(--color-warning);
}

.user_roster_second {
  background-color: var(--color-grey-light);
  border-color: var(--color-grey);
}

.user_roster_third {
  background-color: var(--color-caution-light);
  border-color: var(--color-caution);
}
