.dialog {
  text-align: center;

  .dialog_byline {
    margin-block-end: 0;
  }
}

.dialog_heading {
  font-size: var(--type-scale-h4);
  margin-block-end: var(--spacer-base);

  &:where(:has(+ p)) {
    margin-block-end: var(--spacer-m);
  }
}

.confirmation_label {
  line-height: 1.3;
  display: block;
  margin-block-end: var(--spacer-ml);
}

.confirmation_string {
  display: block;
  padding: var(--spacer-s);
  border-radius: var(--spacer-s);
  border: 0.0625rem solid var(--color-grey-medium);
  background-color: var(--color-grey);
  font-size: 1rem;
}
