.form_background {
  min-height: 100dvh;
  background-image: linear-gradient(to bottom, #fffa, #fffa), var(--bg-image);
  background-size: cover;
  background-position: center;
  align-content: center;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0.25rem) grayscale(50%);
  }
}

.form_wrap {
  position: relative;
}
