.team_grid {
  display: grid;
  gap: var(--spacer-l) var(--spacer-base);
  grid-template-areas:
    "next_game"
    "prev_game"
    "members"
    "leagues";
  padding-block-end: var(--spacer-l);

  @container main (width >= 60rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "next_game prev_game"
      "members leagues";
  }
}
