.division_tabs {
  --end-spacing: var(--spacer-xl);
  border-bottom: 0.125rem solid var(--color-primary-dark);
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    pointer-events: none;
  }
  &::before {
    width: var(--spacer-base);
    background-image: linear-gradient(
      to right,
      var(--color-background),
      transparent
    );
    inset: 0 auto 0 0;
  }
  &::after {
    width: var(--end-spacing);
    background-image: linear-gradient(
      to left,
      var(--color-background),
      var(--color-background),
      transparent
    );
    inset: 0 0 0 auto;
  }
}

.division_tabs_can_add {
  --end-spacing: 5rem;
}

.division_tabs_list {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: var(--spacer-m);
  padding-inline: var(--spacer-base) var(--end-spacing);
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.division_tabs_item {
  text-decoration: none;
  padding-inline: var(--spacer-em-ml);
  padding-block: var(--spacer-em-xs);
  display: inline-flex;
  align-items: center;
  gap: var(--spacer-s);
  border: 0.0625rem solid var(--color-grey);
  border-block-end: 0;
  /* border-block-end: 0; */
  border-start-start-radius: var(--spacer-s);
  border-start-end-radius: var(--spacer-s);
  color: var(--color-black);
  white-space: nowrap;

  &:where(:hover, :focus-visible) {
    background-color: var(--color-grey);
    border-color: var(--color-grey-dark);
  }

  & i {
    --icon-size: 1em;
  }

  &:where([aria-current="page"]) {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary-dark);
    /* font-size: var(--type-scale-h5); */
  }
}

.division_tabs_add {
  display: inline-flex;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  translate: 0 -50%;
  z-index: 1;
  width: 1.75rem;
  height: 1.75rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--color-primary-dark);
  &:where(:hover, :focus-visible) {
    background-color: var(--color-grey);
  }
}
