.join_team_wrap {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  background: linear-gradient(
    225deg,
    hsla(from var(--color-team, var(--color-primary)) h s l / 0.5),
    transparent 50%
  );
  position: relative;
  isolation: isolate;

  &::before {
    content: attr(data-team-name);
    position: absolute;
    inset: auto auto var(--spacer-l) var(--spacer-l);
    font-size: calc(var(--type-scale-xxxl) * 1.5);
    font-weight: bold;
    color: var(--color-team, var(--color-primary));
    opacity: 0.125;
    width: max(25rem, 50%);
    line-height: 0.875;
    z-index: -1;
    font-family: var(--font-secondary);
  }
}
