.layout {
  display: grid;
  gap: var(--spacer-l) var(--spacer-base);

  @container (width >= 45rem) {
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: dense;
  }
}

.inactive {
  @container (width >= 45rem) {
    grid-column: 1 / 2;
  }
}
