.game_feed {
  grid-column: 1 / -1;
}

.game_feed ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.game_feed_periods {
  display: grid;
  gap: var(--spacer-l) var(--spacer-base);
  grid-template-columns: auto auto 1fr auto;

  @container (min-width: 45rem) {
    grid-template-columns: auto auto 1fr 4rem 1fr auto auto;
  }
}

.game_feed_period {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;

  &::after {
    content: " ";
    margin-block-start: var(--spacer-l);
    display: block;
    margin-inline: auto;
    width: min(50%, 25rem);
    height: 0.125rem;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--color-grey),
      var(--color-grey),
      transparent
    );
    grid-column: 1 / -1;
  }
}

.game_feed_period_heading {
  grid-column: 1 /-1;
  margin-block-end: var(--spacer-ml);
  text-transform: uppercase;
}

.game_feed_feed {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: var(--spacer-s);

  /* gap: var(--spacer-s) var(--spacer-base);
  grid-template-columns: auto auto 1fr auto;

  @container (min-width: 45rem) {
    grid-template-columns: auto auto 1fr 4rem 1fr auto auto;
  } */
}

.game_feed_item {
  border: 0.0625rem solid var(--color-grey);
  border-radius: var(--spacer-s);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas: "time team player type";
  align-items: center;
  gap: var(--spacer-base);
  isolation: isolate;
  position: relative;
  background: linear-gradient(
    135deg,
    hsla(from var(--color-away, var(--color-white)) h s l / 0.25),
    transparent 20%
  );

  @container (min-width: 45rem) {
    grid-column: span 4;
  }
}

.game_feed_home {
  --color-feed: var(--color-home);

  background: linear-gradient(
    225deg,
    hsla(from var(--color-home, var(--color-white)) h s l / 0.25),
    transparent 20%
  );

  @container (min-width: 45rem) {
    --feed-rotation: 315deg;

    text-align: right;
    grid-template-areas: "type player team time";
    grid-column: 4 / span 4;
  }
}

.game_feed_item_time {
  grid-area: time;
  padding: var(--spacer-ml);
  display: inline-flex;
  flex-direction: column;
  line-height: 1.2;
}

.game_feed_item_period_time {
  font-weight: bold;
  font-size: var(--type-scale-h5);
}

.game_feed_item_period {
  font-size: var(--type-scale-s);
}

.game_feed_item_team {
  grid-area: team;
}

.game_feed_item_player_info {
  padding-block: var(--spacer-ml);
  grid-area: player;

  & a {
    font-weight: bold;
    text-decoration: none;
  }
}

.game_feed_item_type {
  grid-area: type;
  padding: var(--spacer-ml);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_feed_item_type_highlight {
  color: var(--color-danger-dark);
}

.game_feed_summary {
  text-align: center;
  padding-block-start: var(--spacer-l);
  grid-column: 1 / -1;
}

.game_feed_completed {
  margin-block-start: var(--spacer-base);
  padding-block: var(--spacer-base);
  background: linear-gradient(
      225deg,
      hsla(from var(--color-home, var(--color-white)) h s l / 0.25),
      transparent 40%
    ),
    linear-gradient(
      135deg,
      hsla(from var(--color-away, var(--color-white)) h s l / 0.25),
      transparent 40%
    );
  border-radius: var(--spacer-s);
}

.home_team_win {
  background: linear-gradient(
    225deg,
    hsla(from var(--color-home, var(--color-white)) h s l / 0.25),
    transparent 75%
  );
}

.away_team_win {
  background: linear-gradient(
    135deg,
    hsla(from var(--color-away, var(--color-white)) h s l / 0.25),
    transparent 75%
  );
}

.game_feed_summary_heading {
  text-transform: uppercase;
}

.game_feed_winner {
  color: var(--color-primary);
}

.game_feed_item_delete {
  /* grid-column: 1 / -1; */

  position: absolute;
  inset: 0;
  opacity: 0;

  &:where(:hover, :focus-visible) {
    opacity: 0.9;
  }

  @container (width >= 45rem) {
    --btn-bg-color: var(--color-grey);
    --btn-border-color: var(--color-grey-dark);
    --btn-text-color: var(--color-black);

    inset: auto auto auto calc(100% + var(--spacer-base));
    opacity: 1;

    &:where(:hover, :focus-visible) {
      --btn-bg-color: var(--color-danger-dark);
      --btn-border-color: var(--color-danger-dark);
      --btn-text-color: var(--color-white);
    }

    .game_feed_home & {
      inset: auto calc(100% + var(--spacer-base)) auto auto;
    }
  }
}
