.game_preview_card {
  grid-column: 1 / -1;
  position: relative;
  isolation: isolate;
}

.game_preview {
  display: grid;
  padding: var(--spacer-base);
  gap: var(--spacer-base) var(--spacer-l);
  background: linear-gradient(
      225deg,
      hsla(from var(--color-away, var(--color-white)) h s l / 0.25),
      transparent 20%
    ),
    linear-gradient(
      -45deg,
      hsla(from var(--color-home, var(--color-white)) h s l / 0.25),
      transparent 20%
    );

  @container (width >= 45rem) {
    background: linear-gradient(
        135deg,
        hsla(from var(--color-away, var(--color-white)) h s l / 0.25),
        transparent 20%
      ),
      linear-gradient(
        -135deg,
        hsla(from var(--color-home, var(--color-white)) h s l / 0.25),
        transparent 20%
      );
  }

  @container (min-width: 45rem) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.game_preview_team_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-base);
}

.game_preview_team_wrap {
  display: flex;
  align-items: center;
  gap: var(--spacer-base);
}

.game_preview_team {
  font-size: var(--type-scale-h4);

  & a {
    color: inherit;
    text-decoration: none;

    &:where(:hover, :focus-visible) {
      color: var(--color-primary-dark);
    }
  }
}

.game_preview_sog {
  color: var(--color-foreground);
  font-size: var(--type-scale-s);
}

.game_preview_team_score {
  font-size: var(--type-scale-h2);
  font-weight: bold;
}

.game_preview_team_info_home {
  @container (min-width: 45rem) {
    flex-direction: row-reverse;

    & .game_preview_sog {
      text-align: end;
    }

    & .game_preview_team_wrap {
      flex-direction: row-reverse;
    }
  }
}

.game_preview_win {
  color: var(--color-primary);
}

.game_preview_loss {
  color: var(--color-danger-dark);
}

.game_preview_info {
  @container (min-width: 45rem) {
    text-align: center;
  }
}

.game_preview_date_time {
  font-weight: bold;
  display: block;
  font-size: var(--type-scale-h3);
  line-height: 1;

  @container (min-width: 45rem) {
    font-size: var(--type-scale-h5);
  }
}
