.card {
  border-radius: var(--spacer-m);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding: var(--card-padding, 0);
  overflow: hidden;
}

.as_container {
  container: card / inline-size;
}
