.card {
  border-radius: var(--spacer-m);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding: var(--card-padding, 0);
  overflow: hidden;
  min-height: var(--card-min-height, auto);
}

.as_container {
  container: card / inline-size;
}
