.menu {
  position: sticky;
  inset-block-start: 0;
  z-index: 100000;
  display: flex;
  background-color: var(--color-primary);
  align-items: center;
  padding-inline: var(--spacer-base);
  padding-block: var(--spacer-s);
  isolation: isolate;

  @media only screen and (min-width: 60rem) {
    flex-direction: column;
    border-inline-end: 0.125rem solid var(--color-primary-dark);
    position: static;
    isolation: unset;
    inset-block-start: unset;
    z-index: auto;
    padding: 0;
    align-items: unset;
  }
}

.menu_logo {
  display: block;
  color: var(--color-white);
  font-weight: bold;
  font-size: var(--type-scale-h3);
  text-decoration: none;
  font-style: italic;
  margin-inline-end: auto;

  &:where(:hover, :focus-visible) {
    color: var(--color-secondary-light);
  }

  @media only screen and (min-width: 60rem) {
    margin-inline-end: unset;
    padding-inline: var(--spacer-base);
    padding-block: var(--spacer-s);
    margin-block-end: var(--spacer-ml);
  }
}

.menu .menu_toggle {
  @media only screen and (min-width: 60rem) {
    display: none;
  }
}

.menu .menu_item {
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  padding-inline: var(--spacer-em-base);
  padding-block: var(--spacer-em-ml);
  gap: var(--spacer-em-base);
  &:where(a:hover, a:focus-visible) {
    @media only screen and (min-width: 60rem) {
      background-color: var(--color-primary-dark);
    }
  }
}

.menu_item_pic {
  border-radius: 50%;
  border: 0.0625rem solid var(--color-primary-pale);
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
  background-color: #fff;
  scale: 1.2;
}

.menu_item_letters {
  width: 1.25rem;
  aspect-ratio: 1;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 50%;

  .menu_item:where(:hover, :focus-visible) & {
    color: var(--color-primary-dark);
  }
}

.menu_nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-primary);
  inset-block-start: 0;
  inset-inline-start: 0;
  padding-block-start: 3.5rem;
  z-index: -1;
  translate: -100%;
  transition: all var(--transition);

  @media only screen and (min-width: 60rem) {
    position: static;
    width: unset;
    height: unset;
    z-index: auto;
    padding-block-start: 0;
    translate: 0;
    transition: none;
    background-color: transparent;
  }
}

.menu_nav_open {
  translate: 0;
}

.menu_heading {
  font-size: var(--type-scale-s);
  padding-inline: var(--spacer-base);
  padding-block-start: var(--spacer-base);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  display: flex;
  align-items: baseline;
  gap: var(--spacer-s);
  margin-block: var(--spacer-ml) var(--spacer-m);
  color: var(--color-white);
  &::after {
    content: " ";
    display: block;
    flex-grow: 1;
    height: 0.125em;
    background-color: var(--color-primary-dark);
    translate: 0 -50%;
    opacity: 0.5;
  }
}

.menu_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu_actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu .menu_logout {
  color: var(--color-white);
  background-color: var(--color-primary-darker);
  &:where(:hover, :focus-visible) {
    background-color: var(--color-danger-dark);
  }
}
