.dashboard_header {
  padding-block-start: var(--spacer-l);
}

.dashboard_header h1 {
  border-block-end: 0.125rem solid var(--color-primary);
}

.dashboard_container {
  @media only screen and (min-width: 60rem) {
    padding-inline: var(--spacer-l);
  }
}
