.dashboard_header {
  padding-block-start: var(--spacer-l);
}

.dashboard_header_admin_bar {
  display: flex;
  align-items: center;
  gap: var(--spacer-base);
  margin-block-end: var(--spacer-base);
}
