.alert {
  padding: var(--spacer-em-xs);
  margin: 0;
  border: 0.0625rem solid var(--alert-color, var(--color-primary));
  border-radius: var(--spacer-em-xs);
  background-color: var(--alert-bg, var(--color-primary-lightest));
  font-size: var(--alert-font-size, var(--type-scale-s));
  margin-block: var(--line-margin-start, 0) var(--line-margin-end, 0);

  &:where(ul) {
    padding-inline-start: var(--spacer-em-base);
  }

  &:where(:not(ul)) {
    padding-inline: var(--spacer-em-s);
  }
}

.alert li::marker {
  content: "- ";
  color: var(--alert-color, var(--color-primary));
}
