.game_header_card {
  grid-column: 1 / -1;
  position: relative;
  isolation: isolate;
}

.game_header {
  display: grid;
  gap: var(--spacer-base) var(--spacer-l);

  &::before {
    content: " ";
    position: absolute;
    display: inline-block;
    inset: 0;
    border-radius: var(--spacer-m);
    background: linear-gradient(
      180deg,
      var(--color-away),
      var(--color-away) 30%,
      var(--color-white) 30%,
      var(--color-white) 70%,
      var(--color-home) 70%,
      var(--color-home)
    );
    z-index: -1;

    @container (min-width: 45rem) {
      background: linear-gradient(
        135deg,
        var(--color-away),
        var(--color-away) 20%,
        var(--color-white) 20%,
        var(--color-white) 80%,
        var(--color-home) 80%,
        var(--color-home)
      );
    }
  }

  &::after {
    content: " ";
    position: absolute;
    display: inline-block;
    inset: 0.1875rem;
    border-radius: var(--spacer-s);
    background: white;
    z-index: -1;
  }

  @container (min-width: 45rem) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.game_header_team_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-base);
}

.game_header_team_wrap {
  display: flex;
  align-items: center;
  gap: var(--spacer-base);
}

.game_header_team {
  font-size: var(--type-scale-h4);

  & a {
    color: inherit;
    text-decoration: none;

    &:where(:hover, :focus-visible) {
      color: var(--color-primary-dark);
    }
  }
}

.game_header_sog {
  color: var(--color-foreground);
  font-size: var(--type-scale-s);
}

.game_header_team_score {
  font-size: var(--type-scale-h2);
  font-weight: bold;
}

.game_header_team_info_home {
  @container (min-width: 45rem) {
    flex-direction: row-reverse;

    & .game_header_sog {
      text-align: end;
    }

    & .game_header_team_wrap {
      flex-direction: row-reverse;
    }
  }
}

.game_header_team_info_winner {
  color: var(--color-primary);
}

.game_header_info {
  @container (min-width: 45rem) {
    text-align: center;
  }
}

.game_header_date_time {
  font-weight: bold;
  display: block;
  font-size: var(--type-scale-h3);
  line-height: 1;

  @container (min-width: 45rem) {
    font-size: var(--type-scale-h5);
  }
}
