.initials_circle {
  display: inline-flex;
  align-items: center;
  gap: var(--icl-gap, var(--spacer-m));
}

.initials_circle_letters {
  width: var(--icl-size, 2rem);
  height: var(--icl-size, 2rem);
  font-size: var(--icl-font-size, 1em);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--icl-bg-color, var(--color-primary));
  color: var(--icl-text-color, var(--color-white));
  border-radius: 50%;
  flex-shrink: 0;
}
