.division_grid {
  display: grid;
  grid-template-areas:
    "standings"
    "schedule"
    "stats";
  gap: var(--spacer-base);

  @container main (min-width: 70rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "standings schedule"
      "stats schedule";
  }
}

.division_unit h3 {
  font-size: var(--type-scale-h4);
  margin-block-end: var(--spacer-m);
}

.division_standings {
  grid-area: standings;
}

.division_schedule {
  grid-area: schedule;
}

.division_stats {
  grid-area: stats;
}
