.division_grid {
  display: grid;
  grid-template-areas:
    "standings"
    "schedule"
    "stats";
  gap: var(--spacer-l) var(--spacer-base);

  @container main (min-width: 70rem) {
    grid-template: "standings schedule" auto "stats schedule" 1fr / 1fr 1fr;
  }
}
