.division_modal {
  text-align: center;

  & h2 {
    font-size: var(--type-scale-h5);
  }

  & a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    gap: var(--spacer-m);

    &:where(:hover, :focus-visible) {
      scale: 1.05;
    }

    &:where([aria-current="page"]) {
      font-weight: bold;
      color: var(--color-primary-dark);
    }
  }

  & ol {
    padding: 0;
    list-style: none;
    margin-block-end: var(--spacer-m);

    & a {
      font-size: var(--type-scale-h4);
    }
  }

  & p {
    margin-block-end: var(--spacer-m);
  }
}
