.division_header {
  margin-block-end: var(--spacer-l);
  display: grid;
  gap: var(--spacer-m) var(--spacer-base);
  grid-template-columns: 1fr auto;
  border-block-end: 0.125rem solid var(--color-grey);
  padding-block-end: var(--spacer-ml);

  @container (width >= 35rem) {
    gap: 0 var(--spacer-base);
    grid-template-columns: 2fr 1fr;
  }
}

.division_desc {
  grid-column: 1 / -1;

  @container (width >= 35rem) {
    grid-column: 1 / 2;
  }
}

.division_options {
  display: flex;
  align-items: center;
  gap: var(--spacer-m);
  justify-content: flex-end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
