.grid {
  --col-count: var(--cols);
  display: grid;
  grid-template-columns: repeat(var(--col-count, 1), 1fr);
  gap: var(--gap, 0);

  @media only screen and (min-width: 25rem) {
    --col-count: var(--cols-s, var(--cols));
  }

  @media only screen and (min-width: 45rem) {
    --col-count: var(--cols-m, var(--cols-s, var(--cols)));
  }

  @media only screen and (min-width: 60rem) {
    --col-count: var(--cols-l, var(--cols-m, var(--cols-s, var(--cols))));
  }

  @media only screen and (min-width: 90rem) {
    --col-count: var(
      --cols-xl,
      var(--cols-l, var(--cols-m, var(--cols-s, var(--cols))))
    );
  }
}

.flex {
  display: flex;
  gap: var(--gap, 0);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--direction);
  flex-wrap: var(--wrap);
}

.col {
  grid-column: var(--col-span);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  flex-basis: var(--flex-basis);
  align-self: var(--align-self);
}
