.grid {
  --col-count: var(--g-cols);

  display: grid;
  grid-template-columns: repeat(var(--col-count, 1), 1fr);
  gap: var(--gap, 0);

  @media only screen and (width >= 25rem) {
    --col-count: var(--g-cols-s, var(--g-cols));
  }

  @media only screen and (width >= 45rem) {
    --col-count: var(--g-cols-m, var(--g-cols-s, var(--g-cols)));
  }

  @media only screen and (width >= 60rem) {
    --col-count: var(
      --g-cols-l,
      var(--g-cols-m, var(--g-cols-s, var(--g-cols)))
    );
  }

  @media only screen and (width >= 90rem) {
    --col-count: var(
      --g-cols-xl,
      var(--g-cols-l, var(--g-cols-m, var(--g-cols-s, var(--g-cols))))
    );
  }
}

.flex {
  display: flex;
  gap: var(--gap, 0);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-flow: var(--direction, row) var(--wrap, nowrap);
}

.col {
  grid-column: var(--col-span);
  flex: var(--flex-grow, auto) var(--flex-shrink, auto) var(--flex-basis, auto);
  align-self: var(--align-self);
}

.col_grid_area {
  grid-area: var(--grid-area);
}
