.settings_grid {
  display: grid;

  @container (width >= 45rem) {
    grid-template-columns: 1fr 3fr;
  }

  @container (width >= 65rem) {
    grid-template-columns: 1fr 4fr;
  }
}

.settings_work_area {
  padding: var(--spacer-l);
  position: relative;
  box-shadow: -0.25rem 0 0.5rem
    hsla(from var(--color-grey-darker) h s calc(l - 40) / 0.15);
}
