.league_header_container {
  --display: grid;

  grid-template-columns: repeat(12, 1fr);
  container-type: inline-size;
  gap: var(--spacer-base) var(--spacer-ml);

  & > * {
    grid-column: 1 / -1;
  }
}

.league_header_admin_bar {
  display: flex;
  align-items: center;
  gap: var(--spacer-base);
}

.league_header_grid {
  display: grid;
  gap: 0 var(--spacer-base);
  grid-template-columns: 1fr auto;
}

.league_header_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacer-m);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.league_header_headline {
  display: flex;
  align-items: center;
  gap: var(--spacer-base);
  max-width: 45rem;
}
