.division_grid {
  display: grid;
  grid-template-areas:
    "schedule"
    "standings"
    "stats";
  gap: var(--spacer-l) var(--spacer-base);

  @container main (min-width: 70rem) {
    grid-template: "schedule stats" auto "standings stats" 1fr / 1fr 1fr;
  }
}
