.unit {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.field {
  display: block;
  width: 100%;
  padding: var(--spacer-s);
  background-color: #fff;
  border: 0.0625rem solid var(--color-grey-dark);
  border-radius: var(--spacer-xs);
  font: inherit;

  &:user-valid {
    border-color: var(--color-primary);
  }

  &:user-invalid {
    border-color: var(--color-danger);
    background-color: hsla(from var(--color-danger) h s l / 0.2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.label {
  cursor: pointer;

  &:where(
      :not(
        :has(+ [type="checkbox"], + [type="radio"]),
        [type="checkbox"] + label,
        [type="radio"] + label
      )
    ) {
    display: block;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }
}

.label_optional {
  font-size: var(--type-scale-s);
  color: hsl(from var(--color-black) h s calc(l + 40));
}

.field_wrap {
  position: relative;

  .field {
    padding-inline-end: calc(1.5em + (var(--spacer-s) * 2));
  }
}

.toggle_password {
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  inset: 0 0 0 auto;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition:
    color var(--transition),
    opacity var(--transition);

  &:where(:hover, :focus-visible) {
    opacity: 1;
  }
}

.toggle_password_visible {
  opacity: 1;
  color: var(--color-primary-dark);
}
