.fill_crease {
  fill: #53c8ea;
}

.fill_blue {
  fill: #5066ac;
}

.fill_ice {
  fill: #f2fcff;
}

.fill_red {
  fill: #de5d56;
}

.fill_none {
  fill: #fff0;
}

.rink_wrap {
  position: relative;
  margin: var(--spacer-l) var(--spacer-base) var(--spacer-base);
}

.rink_marker {
  position: absolute;
  inset-block-start: var(--rm-top);
  inset-inline-start: var(--rm-left);
  translate: -50% -50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--rm-color, var(--color-primary));
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 var(--spacer-m) hsla(from var(--color-grey-dark) h s l / 0.25);
  text-decoration: none;

  & i {
    --icon-size: 1em;
  }
}
